<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>
  Hi <%= @appointment.name %>
</p>
<p>
  Thank you for your Appointment Request.  A librarian available at the time you requested with the expertise in your subject area will contact you shortly to arrange an appointment.
  If you do not hear from us within 2 working days (excluding weekends and holidays) please <a href="http://www.library.ualberta.ca/aboutus/">contact the library</a> directly.
</p>
<p>
    Name: <%=  @appointment.name %><br>
    Email: <%= @appointment.email %> <br>
    One Card:<%=  @appointment.one_card %><br>
  <% if @appointment.department != '' %>
    Department: <%= @appointment.department %> <br>
  <% end %>

<p>
  Best Times for Appointment: <br>
  <%= @appointment.best_times  %>
<p>
  Topic:<br>
  <%= @appointment.appointment_subject.subject %>

</p>
</body>
</html>