
<% provide(:title, 'Appointment') %>
<h2>Make an <span>Appointment</span> with a Librarian</h2>

<% @appointment.errors.each do |attribute, message| %>
 <div class='alert-danger'><%= attribute %> <%= message %></div>
<% end %>

<div class="alert-info"><%= flash[:success] %></div>

<div class="row">
<div class="col-md-6 col-md-offset-3">


<%= form_for(@appointment) do |f| %>


      <div class="form-group">
      <%= f.label 'Subject' %>

        <% # f.fields_for :appointment_subject do |ff| %>

        <%=  f.select(:subject_id ,@subject.collect{|sub| [sub.subject, sub.id] } , { include_blank: true } , {class: 'form-control'} ) %>
        <% # end %>

      </div>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field(:name,  class: 'form-control') %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email,  class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :department  %>
        <%= "<span class='small'>(Example: Campus Saint-Jean, Elementary Education, etc.)</small>".html_safe %>
        <%= f.text_field :department,  class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :one_card %>
        <%= f.text_field :one_card,  class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :best_times %>
        <%= f.text_area :best_times,  class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :topic %>
        <%= f.text_area :topic,  class: 'form-control' %>
      </div>


      <div class="form-group">

      <%= f.submit "Create Appointment", class: "btn btn-primary" %>
      </div>
      <p class="small">The information you submit is collected under the authority of Section 32.c. of the Freedom of Information and Protection of Privacy Act (Alberta). It is used to make an appointment with a librarian and will not be used for any other purpose.

<% end %>
</div>
</div>




